<div class="jumbotron container section">
  <div class=" event jumbotron boxlogin container">
<form action="/events/<%= event._id %>" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="<%= event.name %>">
  <label for="place">Place</label>
  <input class="form-control" type="text" name="place" id="place" value="<%= event.place %>">
  <label for="city">City</label>
  <input class="form-control" type="text" name="city" id="city" value="<%= event.city %>">
  <label for="date">Date</label>
  <input class="form-control" type="date" name="date" id="date" value="<%= event.date %>">
  <label for="imageUrl">Image URL</label>
  <input class="form-control" type="url" name="imageUrl" id="imageUrl" value="<%= event.imageURL %>">
  <label for="description">Description</label>
  <textarea class="form-control" type="text" name="description" id="description" value="<%= event.description %>"></textarea>
  <label for="category">Category</label>
  <select id="category" class="form-control"  name="category" value="<%= event.category %>">
    <option value="unknown">Select Category</option>
   <option value="cielo profundo">Thep Sky</option>
    <option value="sitema solar">Solar Sistem</option>
    <option value="luna">Moon</option>
  </select>


  <button class="btn" type="submit">Update Event</button>
</form>
</div>
</div>
