
  <div class="container events-ejs">
    <div class="container">
	<div class="row">
    <div class="col-xs-3">
    

    </div>
		<div class="col-xs-6 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                  <div class="col-sm-6 col-md-4">
                    <% if (user) { %>
                    <img src="/<%= user.imgUrl%>" alt="" class="img-circle img-responsive" />
                  </div>
                  <div class="col-sm-6 col-md-8">
                    <h4><i class="glyphicon glyphicon-user"></i> <strong><%= user.name %> <%= user.lastName %></strong></h4>
                    <small>
                      <cite title="City, ST">
                        <i class="glyphicon glyphicon-map-marker"></i> <%= user.city %>
                      </cite>
                    </small>
                    <p>
                    <i class="glyphicon glyphicon-envelope"></i> <a href="#"><%= user.email %></a><br />
                            <br />
                            <i class="glyphicon glyphicon-gift"></i> July 07, 1987</p>
                          <% } %>
                        <!-- Split button -->
                        <div class="btn-group">
                          <a href="/" class="btn">Logout</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
  </div>


</div>

        <div class="header-btn">
          <a href="/new" class="btn">New Event</a>
        </div>
<div class="row">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
    <ul class="event-list">

      <% events.forEach((event) => { %>
      <li>
        <time datetime="2014-07-20 2000">
          <span class="day"><%=event.formatDate%></span>
        </time>
        <img alt="" src="<%= event.imageUrl %>" />
        <div class="info">
          <h2 class="title"><%= event.name %></h2>
          <p class="desc"><%= event.description %></p>
          <ul>
            <li style="width:33%;">1<span  class="glyphicon glyphicon-ok"></span></li>
            <li style="width:34%;">0 <span class="fa fa-question"></span></li>
            <li style="width:33%;">103 <span class="fa fa-envelope"></span></li>
          </ul>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="https://www.facebook.com/"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="https://twitter.com/"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="https://plus.google.com/?hl=es"><span class="fa fa-google-plus"></span></a></li>
          </ul>
        </div>
      </li>
      <div class="">
        <form action="/events/<%= event._id%>/delete"&&"/comments/<%= event._id%>/delete" method="POST">
          <div class="botton-link">
            <a href="/events/<%= event._id %>" class="btn">View Details</a>
            <a href="/events/<%= event._id %>/edit/" class="btn">Edit Event</a>
            <a> <button class="btn" type="submit">Delete Event</button></a>
          </div>
        </form>
      </div>
        <%  }); %>
    </ul>
  </div>
</div>
</div>
